.about{
    font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  padding-bottom: 40px;
   background-color:white;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

  
}
.about-heading
{
    font-size: 25px;
    font-weight: bold;
    color:#45474A;
    font-family: 'Montserrat', sans-serif;
}
.education{
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:fit-content;
    width: 50%;

}
.education-top{
    display: flex;
    flex: row;
    justify-content: flex-start;
    padding-left: 25px;
}
.experience-top{
    display: flex;
    flex: row;
    justify-content: flex-start;
    padding-left: 25px;

}
.experience{
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:fit-content;
    width: 50%;

}
.education-heading{
    padding: 25px 0px 0px 15px;
    margin: 0;
    color:black;
    font-size: 20px;
    font-weight: bold;
}
.education-top img{
    width: 50px;
    height: 30px;
}
.experience-top img{
    width: 35px;
    height: 30px;
}
.experience-heading{
    padding: 25px 0px 0px 15px;
    margin: 0;
    color:black;
    font-size: 20px;
    font-weight: bold;

}
.education-timeline{
    margin: 0;
    padding: 0;
}
.experience-timeline{
    margin: 0;
    padding: 0;

}


.a-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.a-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
   
}
hr{
    background-color:#45474A;
    height: 2px;
    width: 6%;
    border: none;
}
.about-description{
    width: 35%;
    color:#565656
}
.about-button{
    width: 30%;
    text-align: left;
    
}
.a-btn{
    height:fit-content;
    border-radius: 4px;
    border:2px solid #45474A;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;;
    color: black;
    text-align: center;
    padding: 5%;
    width: fit-content;
}
.about-description p{
    font-family: 'Montserrat', sans-serif;;
    font-weight: 100;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 20px;
}

button:hover{
    background-color: #060657;
    cursor: pointer;
    color: white;
}
.codingheading{
    font-size: 20px;
    font-weight: bold;
    color:black;

}
.codingProfiles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin-top: 30px;
}
.codingProfiles img{
    height: 115px;
    width: 115px; 

}
@media screen and (max-width:480px){
    hr{
        width: 20%;
    }
    .a-bottom{
        flex-direction: column;
    }
    .a-top{
        flex-direction: column;
        width: 100%;
        gap: 22px;
        
    }
    .experience{
        width:275px;
    }
    .education{
        width:275px;
    }
    
    .education-timeline{
        width: 235px;
    }
    .experience-timeline{
        width: 235px;
    }
    
    .about-description {
       
        width: 275px;
    }
    .about-description p{
       padding: 0;
        width: 100%;
        margin-bottom: 0;
    }
    .about-button p{
        width: 100%;
        
    }
    .a-btn{
        height: fit-content;
        width: max-content;
        padding: 10%;
    }
    .education-top{
        padding-left: 10px;
    }
    .experience-top{
        padding-left: 10px;
    }
    .codingProfiles img{
        height: 65px;
        width: 65px;
    }
   
}
